*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
     background-color: green;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.calculator{
   background-color: #ecf0f3;
   display: grid;
   grid-template-columns: repeat(4, 64px);
   padding: 15px;
   border-radius: 30px;
   box-shadow: inset 5px 5px 12px #ffffff,
                    5px 5px 12px rgba(0, 0, 0, .16);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 4px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset     5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    color: rgb(70 70 70);
    font-size: 30px;
    text-align: right;
}
button{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow:  -5px -5px 12px #ffffff,
                  5px 5px 12px rgba(0, 0, 0, .16);
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 8px;
}
.equal{
    border-radius: 40px;
    width: 125px;
    background-color: #ecf0f3;
    box-shadow:  -5px -5px 12px #ffffff,
                    5px 5px 12px rgba(0, 0, 0, .16);
    font-size: 30px;
}
.equal:hover{
    background-color: #f9f9f9;
}
button:hover{
    color: blue;
}
.Del:hover{
    color: red;
}
